h3.center ZEAM開発ログ第3回
h2.center AI/MLを爆速に!ElixirでGPUを駆動すると驚きのパフォーマンスに!
h3.center
  span.nonsplit
    span.heading カーネルハッカー ZACKY1972 &nbsp;
    span.heading 北九州市立大学 山崎 進 &nbsp;
  	img.heading src="resources/images/ZACKY-3000.jpg"
