h3 開発したアプリケーション: ロジスティック写像

markdown:
  * 実現しやすくするため，**整数演算で負荷のかかる計算**を調べた
  * 暗号の専門家から**素数を用いたロジスティック写像**という計算を教わった

img.image400 src="resources/images/logistic-map.png"

.small
	markdown:
		* ちなみにこの方法で求めた値をグラフにプロットしても図のようにはなりません
		* これは，この方法はロジスティック写像ではあるものの，オリジナルの方法と幾何学的性質が異なるからです